.login {
  width: 100vw;
  height: 100vh;
  background-color: #2d3a4b;
  overflow: hidden;
  &__container {
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 6rem;
    padding: 3rem;
    background-color: @var-base-background;
    border-radius: @var-border-radius;
    box-shadow: @var-box-shadow;
  }
}
