// 导航栏聚焦背景颜色
@hover-bgcolor: #f6f9fc;

@keyframes mask {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.app {
  &__mask {
    .position(fixed, 0, 0, 100%, 100%);
    opacity: 1;
    background-color: #222;
    &.loading {
      z-index: 16;
      transition-duration: @transition-duration * 1.5;
    }
    &.loaded {
      animation: mask 0.6s forwards;
      z-index: -2;
      transition-duration: @transition-duration * 1.5;
    }
  }
  // navigation
  &__navigation {
    .position(fixed, 0, 0, 100%, 4rem);
    z-index: 4;
    background-color: transparent;
    transition-duration: @transition-duration;

    & > .container {
      .layout(flex, row, space-between, center, nowrap);
      height: 100%;
    }

    // Logo
    &--logo {
      height: 4rem;
      img {
        height: 100%;
      }
    }

    // 导航菜单选项
    &--nav {
      .layout(flex, row, center, center, nowrap);
      position: relative;
      height: 100%;
      color: @nav-text;
      transition-duration: @transition-duration;
      cursor: default;

      // // 拥有子菜单情况下
      // &-sub {
      //   display: none;
      //   .absolute(102%);
      //   padding: 0.5rem;
      //   min-width: 6rem;
      //   background-color: #fff;
      //   border-radius: @border-radius;
      //   transition-duration: @transition-duration;
      // }

      // // 导航菜单子选项
      // &-child {
      //   padding: 0.5rem 1rem;
      //   color: @paragraph-text;
      //   &:hover {
      //     background-color: @hover-bgcolor;
      //   }
      // }
    }

    &--item {
      padding: 1rem;
      transition-duration: @transition-duration;

      // 聚焦时若有子菜单
      &:hover {
        color: fade(@nav-text, 50%);
      }
    }

    // fixed状态
    &.fixed {
      background-color: @primary;
      transition-duration: @transition-duration;
    }
  }

  // footer
  &__footer {
    padding-top: 4rem;
    background-color: #f3f4f5;
    overflow: hidden;
    & > .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 4rem;
    }
    // logo
    &--logo {
      .layout(flex, row, flex-start, flex-start);
      &--img {
        width: 3rem;
      }
      &--text {
        h4,
        h5 {
          margin-bottom: 0;
        }
        h4 {
          font-size: 1.2rem;
        }
        h5 {
          font-size: 0.875rem;
          font-weight: normal;
        }
      }
    }
    // social
    &--social {
      .layout(flex, row, flex-end);
      &-item {
        margin: 0 0.2rem;
        height: 1.5rem;
        cursor: pointer;
        opacity: 0.4;
      }
      img {
        height: 100%;
      }
    }
    &--copyright {
      margin-top: 1rem;
    }
  }
}
