.blog {
  &__project {
    &--item {
      display: grid;
      grid-template-columns: 3fr 7fr;
      grid-gap: 3rem;
      margin: 4rem 0;
      cursor: default;
      .left {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
        }
      }
      .right {
        .item {
          &--title {
            cursor: pointer;
          }
          // tags
          &--tag {
            .layout(flex, row);
            margin-bottom: 1rem;
            li {
              padding: 0.25rem 0.5rem;
              margin: 0 0.25rem;
              font-size: 0.75rem;
              background-color: @primary;
              color: #fff;
              border-radius: @border-radius;
            }
          }
          // text
          &--intro {
            min-height: 6rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            cursor: pointer;
          }
          // buttons
          &--button {
            & > .primary-button {
              background-color: @primary;
            }
          }
        }
      }
      @media screen and (max-width: 600px) {
        & {
          grid-gap: 2rem;
          grid-template-columns: auto;
          grid-template-rows: 0.5fr 1fr;
          .right {
            .item--intro {
              -webkit-line-clamp: 8;
            }
          }
        }
      }
    }
  }
  // 内页
  &__wrap {
    &--container {
      position: relative;
      margin-top: -12rem;
      margin-bottom: 4rem;
      padding: 2rem;
      background-color: #f4f5f7;
      border-radius: @border-radius;
      box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.07);
    }
    &--header {
      display: grid;
      grid-template-columns: 3fr 2fr 3fr;
      text-align: center;

      &--status {
        .layout(flex, row);
        text-align: center;
        & > .status {
          margin: 0 0.5rem;
          p {
            margin-bottom: 0.5rem;
            color: @paragraph-text;
            font-weight: 700;
          }
          small {
            color: @description-text;
            font-size: 0.875rem;
          }
        }
      }

      &--avatar {
        position: relative;
        margin: 0 auto;
        margin-top: -6rem;
        width: 11rem;
        height: 11rem;
        overflow: hidden;
        border-radius: 64%;
        box-shadow: @box-shadow;
        transition-duration: @transition-duration;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:hover {
          transform: translateY(-1rem);
          transition-duration: @transition-duration;
        }
      }

      &--button {
        & > .small-button {
          padding: 0.25rem 0.5rem;
          font-size: 0.75rem;
        }
        .live-button {
          background-color: @default;
        }
        .source-button {
          background-color: @info;
        }
      }
    }
    &--contain {
      margin: 3rem 0;
      &--title {
        margin-bottom: 3rem;
        text-align: center;
        & > .tags {
          .layout(flex, row, center);
          li {
            margin: 0 0.2rem;
            padding: 0.25rem 0.5rem;
            color: #fff;
            background-color: @primary;
            border-radius: 4px;
            font-size: 0.875rem;
            letter-spacing: 0.54px;
          }
        }
      }
      &--text {
        p {
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 300;
          line-height: 1.8;
          letter-spacing: 0.6px;
        }
      }
    }

    @media screen and (max-width: 750px) {
      &--header {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'a' 'b' 'c';
        &--status {
          grid-area: c;
          justify-content: center;
        }
        &--avatar {
          grid-area: a;
        }
        &--button {
          grid-area: b;
          .layout(flex, row, space-around, center);
        }
      }
    }
  }
}
