.el-scrollbar {
  width: 100%;
}
.el-scrollbar__view,
.el-menu {
  height: 100%;
}
.el-menu {
  background-color: #304156;
  border-right: none;
}
.el-menu-item.is-active,
.el-sub-menu.is-opened,
.el-menu-item:hover {
  background-color: var(--el-menu-hover-bg-color);
}
