:root {
  --el-color-primary: @var-primary-color;
  --el-box-shadow-light: @var-box-shadow;
  --el-menu-text-color: #1e293b;
  --el-menu-bg-color: #fff;
  --el-menu-hover-bg-color: @var-surface-hover;
  --el-color-primary-light-3: #4547a9;
  --el-color-primary-light-5: #9ea0f6;
  --el-color-primary-light-7: #bcbdf9;
  --el-color-primary-light-8: #dadafc;
  --el-color-primary-light-9: #f7f7fe;
  --el-color-primary-dark-2: #363885;
  --el-button-active-bg-color: #363885;
}

/* Change Head,Main,Footer */
@import './element/layout.less';

/* Change Menu */
@import './element/menu.less';

/* Change Card */
@import './element/card.less';

/* Change Tree */
@import './element/tree.less';

/* Change Pagination */
@import './element/page.less';
.el-scrollbar {
  width: 100%;
}
.el-scrollbar__view,
.el-menu {
  height: 100%;
}
