.title {
  position: relative;
  font-family: 'MingLiU';
  &::after {
    content: '';
    .position(absolute, auto, 50%);
    bottom: -1rem;
    transform: translateX(-50%);
    width: 3rem;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.38);
  }
}
.wrap {
  padding: 8rem 0;
  text-align: center;
}
.index {
  // header
  &__header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    // &::after {
    //   content: '';
    //   position: absolute;
    //   bottom: -12%;
    //   left: -4%;
    //   width: 128%;
    //   height: 20vh;
    //   background-color: #f4f5f7;
    //   transform: rotate(-5deg);
    // }
  }

  // concept
  &__concept {
    &--title {
      // font-family: 'MingLiU';
      font-family: inherit;
    }
    &--text {
      margin-bottom: 0;
      line-height: 2.5rem;
    }
  }

  // work
  &__work {
    background-color: #fff;
    // list
    &--list {
      .layout(flex, row, space-around, flex-start, nowrap);
      padding-top: 4rem;
      @media screen and (max-width: 600px) {
        & {
          flex-wrap: wrap;
        }
      }
    }
    // list-item
    &--item {
      width: 16rem;
      &-icon {
        img {
          margin: 0 auto;
          max-width: 8rem;
        }
      }
      &-wrap {
        &-title {
          margin-bottom: 0;
        }
        &-intro {
          line-height: 2.5rem;
        }
      }
    }
  }

  // project
  &__project {
    padding: 4rem 0;
    background: linear-gradient(
        to right,
        #f1f6f7 0%,
        #f1f6f7 50%,
        #ecf2f3 50%,
        #ecf2f3 100%
      )
      repeat-x 50% 0;
    background-size: 5rem;
    &--title {
      text-align: center;
    }
    &--items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      padding: 4rem 0;
      @media screen and (max-width: 1165px) {
        & {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      @media screen and (max-width: 900px) {
        & {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      @media screen and (max-width: 600px) {
        & {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
    &--item {
      .position(relative, 0);
      width: 16rem;
      height: 8rem;
      img {
        height: 100%;
        object-fit: cover;
      }
      h5 {
        position: absolute;
        width: 100%;
        bottom: 0;
        margin-bottom: 0;
        padding: 0.5rem 1rem;
        color: #fff;
        font-size: 1rem;
        font-weight: normal;
        letter-spacing: 0.54px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), transparent);
        opacity: 0;
        transition-duration: 0.4s;
      }
      &:hover {
        h5 {
          opacity: 1;
          transition-duration: 0.4s;
        }
      }
      @media screen and (max-width: 600px) {
        & {
          width: auto;
        }
      }
    }
  }

  // blog
  &__blog {
    .layout(flex, column);
    padding: 8rem 0;
    background-color: #fff;
    &--title {
      text-align: center;
    }
    // project-item
    &--item {
      display: grid;
      grid-template-columns: 4fr 6fr;
      grid-gap: 1rem;
      align-items: flex-start;
      padding: 2rem 0;
      max-height: 18rem;
      // 封面图
      &-avatar {
        height: 13rem;
        overflow: hidden;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      &-title {
        cursor: pointer;
      }
      // 文字
      &-text {
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        cursor: pointer;
      }
      // 标签栏
      &-wrap {
        cursor: default;
        ul {
          .layout(flex, row);
          margin-bottom: 1rem;
        }
      }
      &-tag {
        margin: 0 0.2rem;
        padding: 0.1rem 0.5rem;
        border-radius: @border-radius;
        font-size: 0.7rem;
        color: #fff;
        background-color: rgba(92, 110, 225, 0.7);
      }

      @media screen and (max-width: 600px) {
        & {
          grid-template-columns: auto;
          max-height: none;
        }
      }
    }
  }
}
