.title {
  position: relative;
  font-family: 'MingLiU';
  &::after {
    content: '';
    .position(absolute, auto, 50%);
    bottom: -1rem;
    transform: translateX(-50%);
    width: 3rem;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.38);
  }
}
.wrap {
  padding: 8rem 0;
  text-align: center;
}
.index {
  // header
  &__header {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  // concept
  &__concept {
    &--title {
      // font-family: 'MingLiU';
      font-family: inherit;
    }
    &--text {
      margin-bottom: 0;
      line-height: 2.5rem;
    }
  }

  // work
  &__work {
    background-color: #f3f4f5;
    // list
    &--list {
      .layout(flex, row, space-around, flex-start, nowrap);
      padding-top: 4rem;
    }
    // list-item
    &--item {
      width: 16rem;
      &-icon {
        img {
          margin: 0 auto;
          max-width: 8rem;
        }
      }
      &-wrap {
        &-title {
          margin-bottom: 0;
        }
        &-intro {
          line-height: 2.5rem;
        }
      }
    }
  }

  //project
  &__project {
    .layout(flex, column);
    padding: 8rem 0;
    &--title{
      text-align: center;
    }
    // project-item
    &--item {
      display: grid;
      grid-template-columns: 4fr 6fr;
      grid-gap: 1rem;
      align-items: center;
      padding: 2rem 0;
      max-height: 18rem;
      // 封面图
      &-avatar {
        height: 13rem;
        overflow: hidden;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      // 文字
      &-text {
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
