.index {
  // header
  &__header {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  // concept
  &__concept {
    padding: 8rem 0;
    text-align: center;
    &--title {
      font-family: 'MingLiU';
    }
    &--text {
      line-height: 2.5rem;
    }
  }
}
