.mermaid {
  &__tag {
    content: '';
  }
  &__button {
    position: relative;
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0.625rem 1.25rem;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 1.75;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.15s ease;
    will-change: transform;
    box-shadow: @box-shadow;
    border-radius: @border-radius;
    &:hover {
      transform: translateY(-2px);
      transition-duration: @transition-duration;
    }
    &:active {
      box-shadow: none;
    }
  }
  &__card {
    background-color: #fff;
    box-shadow: @card-shadow;
    border-radius: @border-radius;
    overflow: hidden;

    &--title {
      font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
      margin: 0;
      padding: 1rem;
      font-weight: 700;
      color: @header-text;
    }

    &--puzzle {
      display: grid;
      grid-template-rows: 1.5rem auto 1.5rem;
      grid-template-columns: auto 3rem;
      grid-template-areas:
        'a b'
        'c d'
        'e f';
      padding: 1rem;
      background-color: #fff;
      // 标题
      & > .admin-title {
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        grid-area: a;
        color: @description-text;
        font-size: @fontsize-p * 0.875;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 1.5rem;
      }
      // 数字
      & > .sum {
        font-weight: 600;
        font-size: 1.2em;
      }
      // 图标
      & > .icon {
        grid-row-start: b;
        grid-row-end: d;
        .layout(flex, row, center, center);
        width: 3rem;
        height: 3rem;
        color: #fff;
        border-radius: 64%;
      }
    }
  }
  &__table {
    & > .table {
      padding: 1rem 0;
      width: 100%;
      background-color: #fff;
    }
    .table {
      // 表格标题
      &--row {
        display: grid;
        grid-template-columns: 40% 30% 30%;
        align-items: center;
      }
      // 表格顶部
      &--head {
        border-top: 1px solid lighten(@description-text, 20%);
        border-bottom: 1px solid lighten(@description-text, 20%);
        background-color: lighten(#e100ff, 44%);
        &--row {
          text-align: center;
        }
      }
      &--title {
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0.5rem 0;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.54px;
        color: @description-text;
      }
      &--body {
        & > .table--row {
          padding: 0 1rem;
          border-bottom: 1px solid lighten(@description-text, 20%);
          &:nth-last-child(1) {
            border-bottom: none;
          }
        }
      }
      &--item {
        color: @paragraph-text;
        padding: 1rem;
        &.table-title {
          .layout(flex, row, flex-start, center);
        }
        &.time {
          text-align: center;
        }
        &.setting {
          .layout(flex, row, center, center, nowrap);
          text-align: center;
        }
        &--setting {
          margin: 0 0.5rem;
          cursor: default;
          transition-duration: @transition-duration;
          &:hover {
            color: lighten(@paragraph-text, 30%);
            transition-duration: @transition-duration;
          }
        }
        &--img {
          width: 3rem;
          height: 3rem;
          object-fit: cover;
          border-radius: 64%;
        }
        &--title {
          margin-left: 1rem;
          cursor: default;
          transition-duration: @transition-duration;
          &:hover {
            color: lighten(@paragraph-text, 30%);
            transition-duration: @transition-duration;
          }
        }
      }
    }
  }
}

.bg-gradient {
  &-red {
    background: @bg-gradient-red;
  }
  &-orange {
    background: @bg-gradient-orange;
  }
  &-green {
    background: @bg-gradient-green;
  }
  &-primary {
    background: @bg-gradient-primary;
  }
}
