// Normalize
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
h1 {
  font-size: @fontsize-h1;
  color: @header-text;
}
h2 {
  font-size: @fontsize-h2;
  color: @header-text;
}
h3 {
  font-size: @fontsize-h3;
  color: @header-text;
}
h4 {
  font-size: @fontsize-h4;
  color: @header-text;
}
h5 {
  font-size: @fontsize-h5;
  color: @header-text;
}
h6 {
  font-size: @fontsize-h6;
  color: @header-text;
}
p {
  font-size: @fontsize-p;
  color: @paragraph-text;
}
