// Normalize
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  font-family: '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック体', YuGothic,
    'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo,
    sans-serif;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}
img {
  display: block;
  max-width: 100%;
}
h1 {
  margin-bottom: 1rem;
  font-size: @fontsize-h1;
  color: @header-text;
}
h2 {
  margin-bottom: 1rem;
  font-size: @fontsize-h2;
  color: @header-text;
}
h3 {
  margin-bottom: 1rem;
  font-size: @fontsize-h3;
  color: @header-text;
  font-weight: 400;
}
h4 {
  margin-bottom: 1rem;
  font-size: @fontsize-h4;
  color: @header-text;
  font-weight: 400;
}
h5 {
  margin-bottom: 1rem;
  font-size: @fontsize-h5;
  color: @header-text;
  font-weight: 400;
}
h6 {
  margin-bottom: 1rem;
  font-size: @fontsize-h6;
  color: @header-text;
  font-weight: 400;
}
p {
  margin-bottom: 1rem;
  font-size: @fontsize-p;
  color: @paragraph-text;
  white-space: pre-wrap;
  font-weight: 400;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button,
input,
textarea {
  border: none;
  outline: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  @media screen and (max-width: 750px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
